.comprar button{
    width: 100%;
    background-color: gray;
    border: none;
    border-radius: .2rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}