.mainProduto{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    padding: .5rem;
    margin-top: 1rem;
}

.containerProduto{
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    justify-content:space-around;
}

.containerProduto section:nth-child(1){
    width: 55%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    align-items: flex-start;
}

.containerProduto section:nth-child(2){
    width: 35%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.containerComentarios{
    margin-top: 1rem;
}

.containerComentarios section:nth-child(1){
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    gap: 2rem;
}



@media (max-width: 1000px){
    .containerComentarios section:nth-child(1){
        flex-direction: column;
    }
    
    .containerProduto{
        flex-direction: column;
    }
    .containerProduto section:nth-child(1){
        width: 100%;
    }

    .containerProduto section:nth-child(2){
        width: 100%;
    }

}

@media (max-width: 700px){
    .containerProduto section:nth-child(1){
        flex-direction: column-reverse;

    }

    .containerComentarios section:nth-child(1){
        gap: 1rem;
    }
}